.advantages__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;


  @media (min-width: $max-tablet-width) {
    padding-inline: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -100px;
    padding-bottom: 0;
  }
}

.advantages__title {
  padding-top: 17px;
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: $min-tablet-width-2) {
    padding-top: 20px;
    margin-bottom: 59px;
  }

  @media (min-width: $max-tablet-width) {
    padding-top: 35px;
    margin-bottom: 50px;
  }
}

.advantages__title::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  top: auto;

  @media (min-width: $min-tablet-width-2) {
    bottom: 0;
  }

  @media (min-width: $max-tablet-width) {
    bottom: 10px;
  }
}

.advantages .swiper-wrapper {
  @include list-reset;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  justify-content: center;
  align-items: center;


  @media (min-width: $min-tablet-width-2) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: $max-tablet-width) {
    flex-wrap: nowrap;
    margin-bottom: 50px;
    left: -39px;
  }
}

.advantages__item {
  border: 1px solid $border-color;
  padding: 81px 9px 15px;

  width: 290px;
  min-height: 256px;
  background-repeat: no-repeat;
  background-size: 42px 42px;
  background-position: 50% 19px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 340px;
    background-size: 48px 48px;
    padding: 102px 19px 30px;
    background-position: 50% 28px;
    background-color: $base-light;
  }

  @media (min-width: $max-tablet-width) {
    min-width: 380px;
    padding: 124px 19px 30px;
    background-size: 54px 54px;
    background-position: 50% 40px;
    min-height: 329px;
  }
}


.advantages .swiper-slide {
  max-width: 300px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 340px;
  }

  @media (min-width: $max-tablet-width) {
    min-width: 380px;
    width: auto;
    min-height: 329px;
  }
}

.advantages .swiper-slide-blank {
  display: none;

  @media (min-width: $max-tablet-width) {
    display: block;
  }
}

.advantages__item--safety {
  background-image: url("../__spritemap#sprite-advantages-shield-view");
  min-height: 240px;

  @media (min-width: $min-tablet-width-2) {
    min-height: 256px;
  }

  @media (min-width: $tablet-width) {
    min-height: 340px;
    background-position: 50% 28px;
    padding-top: 104px;
  }

  @media (min-width: $max-tablet-width) {
    background-position: 50% 40px;
    min-height: 329px;
  }

  @media (min-width: $max-tablet-width) {
    padding-top: 124px;
  }
}


.advantages__item--expertise {
  background-image: url("../__spritemap#sprite-advantages-crown-view");
  background-position: 50% 18px;
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    padding-top: 103px;
    background-position: 50% 29px;
  }

  @media (min-width: $max-tablet-width) {
    padding-top: 124px;
    background-position: 50% 39px;
    padding-inline: 21px;
  }
}

.advantages__item--equipment {
  background-image: url("../__spritemap#sprite-advantages-boot-view");
}

.advantages__item--routes {
  background-image: url("../__spritemap#sprite-advantages-route-view");
  background-position: 50% 20px;
  padding-top: 82px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    background-position: 50% 28px;
  }

  @media (min-width: $max-tablet-width) {
    padding-top: 124px;
    background-position: 50% 39px;
  }
}

.advantages__item--nature {
  background-image: url("../__spritemap#sprite-advantages-flower-view");
  padding-top: 83px;
  background-position: 50% 21px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    background-position: 50% 28px;
  }

  @media (min-width: $max-tablet-width) {
    padding-top: 124px;
    background-position: 50% 41px;
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 14px;
  }

  @media (min-width: $max-tablet-width) {
    font-size: 18px;
    font-weight: 600;

    br {
      display: none;
    }
  }
}

.advantages__item p {
  margin: 0;
}

.advantages__buttons {
  display: none;

  @media (min-width: $max-tablet-width) {
    display: flex;
    justify-content: center;
  }
}
