.form {
  background: linear-gradient(0deg, #cccccc 5%, #12180f 27%, #12180f 75%, #cccccc 99%);
}

.form__wrapper {
  background-image:
    image-set(
      url("../img/images/form/form-tablet@1x.webp") type("image/webp") 1x,
      url("../img/images/form/form-tablet@2x.webp") type("image/webp") 2x,
      url("../img/images/form/form-tablet@1x.jpg") type("image/jpg") 1x,
      url("../img/images/form/form-tablet@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  min-height: 638px;
  background-size: cover;
  background-position: 50% 0;
  color: $base-light;
  padding: 40px 31px 38px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;


  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $base-dark;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 204px;
    min-height: 680px;
    gap: 32px;
  }

  @media (width >= 840px) {
    background-image:
      image-set(
        url("../img/images/form/form-desktop@1x.webp") type("image/webp") 1x,
        url("../img/images/form/form-desktop@2x.webp") type("image/webp") 2x,
        url("../img/images/form/form-desktop@1x.jpg") type("image/jpg") 1x,
        url("../img/images/form/form-desktop@2x.jpg") type("image/jpg") 2x);
  }

  @media (min-width: $max-tablet-width) {
    height: 760px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.form__content-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-self: center;
  justify-self: center;
  width: 100%;


  @media (min-width: $tablet-width) {
    gap: 23px;
    padding-top: 3px;
  }

  @media (min-width: $max-tablet-width) {
    gap: 18px;
  }
}

.form h3 {
  font-size: 22px;
  line-height: 1;
  font-weight: 800;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $max-tablet-width) {
    font-size: 35px;
  }
}

.form p {
  width: 220px;
  margin: 0 auto 3px;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 320px;
    margin: 0 auto;
  }

  @media (min-width: $max-tablet-width) {
    width: 600px;
    margin-bottom: 20px;
  }
}

.form__main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  @media (min-width: $max-tablet-width) {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}

.form__label {
  position: relative;
  width: 100%;
  max-width: 360px;

  @media (min-width: $tablet-width) {
    max-width: 430px;
  }

  @media (min-width: $max-tablet-width) {
    max-width: 360px;
  }
}

.form__label-text {
  position: absolute;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  color: $base-text-color;
  opacity: 0.5;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    left: 30px;
  }
}

.form__field {
  position: relative;
  font-family: inherit;
  color: $base-text-color;
  border: 0 solid $border-color;
  border-radius: 2px;
  padding: 18px;
  display: inline-block;
  width: 100%;

  &:hover {
    border: 1px solid $theme-color;
    padding: 17px;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid $base-text-color;
    padding: 17px;

    &::placeholder {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:disabled {
    border: 1px solid $disabled;
    pointer-events: none;
    background-color: $base-light;
    color: $disabled;

    &:hover {
      padding: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $border-color;
    padding: 19px;

    &:hover {
      padding: 19px;
      border-color: $theme-color;
    }

    &:focus-visible {
      padding: 19px;
    }

    &:disabled {
      border-color: $disabled;

      &:hover {
        padding: 19px;
      }
    }
  }

  &::placeholder {
    opacity: 0;
    transition: all 300ms ease-in;
    transform: scale(0);
  }
}

.form__field--error {
  border: 1px solid $error;
  padding: 17px;

  &:hover {
    border-color: $error;
  }

  @media (min-width: $tablet-width) {
    padding: 19px;
  }
}

.form__field:focus-visible ~ .form__label-text {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease-out;
}

.form__field:not(:placeholder-shown) ~ .form__label-text {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease-out;
}


.form__button {
  padding-bottom: 20px;
  width: 100%;
  max-width: 360px;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding-inline: 30px;
    padding-block: 21px 17px;
    max-width: 430px;
  }

  @media (min-width: $max-tablet-width) {
    max-width: 180px;
  }
}
