.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(60% - 139px);
    width: 100%;
    align-items: center;
  }

  @media (min-width: $max-tablet-width) {
    margin-left: 0;
  }
}

.nav__list {
  @include list-reset;

  position: absolute;
  display: flex;
  flex-direction: column;
  order: 3;
  justify-content: start;
  left: 0;
  background-color: $theme-color;
  width: 100%;
  top: 100px;
  transform: translateY(-100vh);
  opacity: 0;
  transition: all 300ms ease-in;

  @media (min-width: $min-tablet-width) {
    top: 70px;
  }

  @media (min-width: $max-tablet-width) {
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;

    // justify-self: center;
    margin-left: 30px;
    position: static;
    order: 0;
    padding: 0;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
    margin-left: 80px;
    gap: 1px;
    padding-top: 3px;
  }
}

.nav__toggle {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 9px 6px;


  @media (min-width: $min-tablet-width) {
    top: 17px;
    left: 15px;
  }

  @media (min-width: $tablet-width) {
    top: 21px;
    left: 38px;
  }

  @media (min-width: $max-tablet-width) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    top: 11px;
    left: 8px;
    background-color: $base-light;
    transition: all 300ms ease;
  }

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    bottom: 10px;
    left: 8px;
    background-color: $base-light;
    transition: all 300ms ease;
  }
}

.nav__toggle-inner::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: $base-light;
  left: 8px;
  top: 19px;
  opacity: 1;
  transition: all 300ms ease;
}

.nav--opened .nav__toggle {
  &::after {
    transform: rotate(45deg);
    top: 19px;
    left: 5px;
    width: 30px;
  }

  &::before {
    transform: rotate(-45deg);
    left: 5px;
    top: 19px;
    width: 30px;
  }


  @media (min-width: $min-tablet-width) {
    top: 18px;
  }

  @media (min-width: $tablet-width) {
    top: 21px;
  }
}

.nav--opened .nav__toggle-inner::after {
  opacity: 0;
  left: 16px;
}

.nav--opened .nav__list {
  padding-inline: 15px;
  padding-bottom: 27px;
  transition: all 300ms ease;
  transform: translateY(0);
  opacity: 1;

  @media (min-width: $tablet-width) {
    padding: 25px 45px 57px;
  }
}


.nav__link {
  font-size: 14px;
  line-height: 1;
  color: $base-light;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-inline-start: 0;
  padding-block: 11px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  position: relative;
  transition: all 300ms ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 8px;
    left: 0;
    background-color: $base-light;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 300ms ease;

    @media (min-width: $min-tablet-width) {
      bottom: 10px;
    }

    @media (min-width: $max-tablet-width) {
      width: calc(100% - 30px);
      left: 15px;
      bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      width: calc(100% - 30px);
      left: 15px;
    }
  }


  @media (min-width: $min-tablet-width) {
    font-size: 16px;
    padding-block: 13px;
  }

  @media (min-width: $max-tablet-width) {
    padding: 15px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
  }

  &:hover::before {
    transform: scaleX(1);
  }


  &:focus-visible {
    outline: 1px solid $base-light;
    outline-offset: -1px;

    @media (min-width: $max-tablet-width) {
      outline-offset: -12px;
    }
  }

  &:active {
    color: $active-color;
  }

  &:active::before {
    background-color: $active-color;
  }
}

.nav__link--disabled {
  color: $disabled;
  pointer-events: none;
}
