.nav {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: auto;
  width: 70%;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(60% - 139px);
    width: 100%;
    align-items: center;
  }

  @media (min-width: $max-tablet-width) {
    margin-left: 0;
  }
}

.nav--closed .nav__list {
  display: none;

  @media (min-width: $max-tablet-width) {
    @include list-reset;

    display: flex;
    max-width: 750px;
    margin-left: 30px;
    flex-wrap: wrap;
  }
}

.nav__toggle {
  position: absolute;
  left: 15px;
  top: 18px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    top: 32px;
    left: 45px;
  }

  @media (min-width: $max-tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-image: url("../../img/sprite/menu.svg");
  background-size: 26px;
}

.nav--opened .nav__toggle {
  background-image: url("../../img/sprite/cross.svg");
}

.nav__phone {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: $base-light;
  text-decoration: none;
  display: block;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}


.nav__link {
  font-size: 16px;
  line-height: 1;
  color: $base-light;
  text-decoration: none;
  padding: 15px;
  display: block;
}
