.page-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: $pr-font;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $base-text-color;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}


.page-body--block {
  overflow: hidden;


  @media (min-width: $max-tablet-width) {
    overflow: auto;
  }
}

.page-body--block::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2d383f;
  opacity: 0.6;
  position: absolute;
  z-index: 1;

  @media (min-width: $max-tablet-width) {
    content: none;
  }
}
