.section-title {
  font-size: 22px;
  line-height: 1;
  font-weight: 800;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }
}

.section-title::after {
  content: attr(data-title);
  position: absolute;
  font-size: 26px;
  line-height: 1;
  opacity: 0.03;
  top: -16px;
  left: 0;
  width: 300px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    width: 600px;
  }
}
