.tours__wrapper {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 108px;
  }
}

.tours__swiper {
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }


  @media (min-width: $max-tablet-width) {
    width: 1030px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__title-wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.tours__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.tours__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.tours__link {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-text-color;
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 12px;
  letter-spacing: 0.04em;
  transition: color 200ms ease;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  &:hover {
    color: $border-color;
  }

  &:focus-visible {
    color: $theme-color;
    outline: none;
  }

  &:active {
    color: $active-color;
  }
}

.tours__link--disabled {
  color: $disabled;
}
