.tours__wrapper {
  background-image:
    image-set(
      url("../img/images/body/body-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../img/images/body/body-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../img/images/body/body-bg-mobile@1x.png") type("image/png") 1x,
      url("../img/images/body/body-bg-mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-position: right 0 bottom -20px;

  @media (min-width: $tablet-width) {
    background: none;
    padding-bottom: 50px;
  }
}

.tours__swiper {
  width: 290px;

  @media (width >= 680px) {
    width: 630px;
  }

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (width >= 1300px) {
    width: 1040px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__title-wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.tours__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 35px;
}

.tours__link {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-text-color;
  display: flex;
  justify-content: center;
  gap: 12px;
  letter-spacing: 0.04em;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

