.training__wrapper {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    background-image:
      image-set(
        url("../../img/images/body/body-clouds-top-tablet@1x.webp") type("image/webp") 1x,
        url("../img/images/body/body-clouds-top-tablet@2x.webp") type("image/webp") 2x,
        url("../img/images/body/body-clouds-top-tablet@1x.png") type("image/png") 1x,
        url("../img/images/body/body-clouds-top-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-position: right 0 bottom 156px;
  }

  @media (min-width: $med-tab-width-3) {
    background-position: right 0 bottom 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
    background-image:
      image-set(
        url("../../img/images/body/body-clouds-top-desktop@1x.webp") type("image/webp") 1x,
        url("../img/images/body/body-clouds-top-desktop@2x.webp") type("image/webp") 2x,
        url("../img/images/body/body-clouds-top-desktop@1x.png") type("image/png") 1x,
        url("../img/images/body/body-clouds-top-desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}

.training__title {
  margin-bottom: 33px;
}

.training__title + p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
    margin-bottom: 37px;
  }
}

.training__trainers-title-wrapper {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    margin-bottom: 9px;
  }
}

.training__trainers-title {
  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.training__buttons {
  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
  }
}
