// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/variables";
@import "./common/visually-hidden";
@import "./blocks/section-title";
@import "./blocks/content-wrapper";
@import "./common/button";
@import "./common/global";
@import "./blocks/page-body";
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/main";
@import "./blocks/hero";
@import "./blocks/tours-training-bg";
@import "./blocks/tours";
@import "./blocks/title-wrapper";
@import "./blocks/swiper-buttons";
@import "./blocks/card";
@import "./blocks/training";
@import "./blocks/trainers";
@import "./blocks/trainig-process";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/advantages";


ul {
  list-style: none;
  padding: 0;
}

.gallery__image {
  object-fit: cover;
  display: block;

  height: auto;
}

.gallery li:nth-child(even) {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.gallery ul {
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.form {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.contacts {
  margin-bottom: 20px;
}

.contacts__inner {
  @media (width >= 1100px) {
    display: flex;
  }
}

.contacts__image {
  object-fit: cover;
  object-position: calc(50% + 15px);
  width: 100%;

  @media (width >= 768px) {
    object-position: 0;
  }

  @media (width >= 1100px) {
    width: auto;
  }
}

.footer__nav-list {
  column-count: 2;
}
