// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/variables";
@import "./common/visually-hidden";
@import "./blocks/section-title";
@import "./blocks/content-wrapper";
@import "./common/button";
@import "./common/global";
@import "./blocks/page-body";
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/main";
@import "./blocks/hero";
@import "./blocks/tours-training-bg";
@import "./blocks/tours";
@import "./blocks/title-wrapper";
@import "./blocks/swiper-buttons";
@import "./blocks/card";
@import "./blocks/training";
@import "./blocks/trainers";
@import "./blocks/trainig-process";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/advantage";
@import "./blocks/gallery";
@import "./blocks/form";

// ul {
//   list-style: none;
//   padding: 0;
// }


.contacts {
  margin-block: 20px;
}

.contacts__inner {
  @media (width >= 1100px) {
    display: flex;
  }
}

.contacts__image {
  object-fit: cover;

  width: 100%;
  display: block;

  // transform: scale(0.8);

  @media (width >= 768px) {
    object-position: 0;
  }

  @media (width >= 1100px) {
    width: auto;
  }
}

.footer__nav-list {
  column-count: 2;
}
